<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts:: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>	
	<div class="container">
		<form action="/employee/save"  method="POST" th:object="${employee}">
		 
		<input type="text" placeholder="Employee FirstName" th:field="${employee.firstName}">
		<input type="text" placeholder="Employee LastName" th:field="${employee.lastName}">
		<input type="text" placeholder="email" th:field="${employee.email}">
		
	
		<button type="submit">Add Employee</button>
		
		</form>
	</div>
	<hr>
	<div>
	<h4> Employees</h4>
	<table>
	<thead>
	<tr>
		<th>Employee First Name</th>
		<th>Employee Last Name</th>	
		<th>Employee Email</th>	
	</tr>
	</thead>
	<tbody>
	<tr th:each ="aemployee : ${employee}">
		<td th:text = "${aemployee.firstName}"></td>
		<td th:text = "${aemployee.lastName}"></td>
		<td th:text = "${aemployee.email}"></td>
	</tr>
	</tbody>
	
	</table>
	
</div>
	
</body>

</html>