<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts:: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>	
	<div class="container">
		<form action="/employee/save"  method="POST" th:object="${employee}">
		 
		<input type="text" placeholder="Employee FirstName" th:field="${employee.firstName}">
		<input type="text" placeholder="Employee LastName" th:field="${employee.lastName}">
		<input type="text" placeholder="email" th:field="${employee.email}">
		
	
		<button type="submit">Add Employee</button>
		
		</form>


</body>

</html>